<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a class="navbar-brand" href="/">Push Js Project</a>
      </div>
      <div class="col-6">
        <div class="container-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/add">Create</a>
            </li>
              <% if(userValied){ %>
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout">LogOut</a></li>
              <% }else{ %>
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/signup">SignUp</a></li>
              <% } %>    
          </ul>
          </div>
         </div>
      </div>
    </div>
  </div>
  </nav>