*{
    color: white;
}

body { 
    background-color: #0E182A
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}


/*yazilari secme isleminde olusacak renk */
a::selection{
    background: red;
}

::selection{
    color: black;
    background: yellow;
}

h1 {
    color: white;
    margin-top: 1rem;
}

#link-site{
    margin: auto ;
}

ion-icon {
    font-size: 20px;
    color: rgb(15, 80, 111);
}

.row{
    margin: 0 20px;
}
