<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/header.ejs") %> 
<body>
    <%-include("./partials/nav.ejs") %>
    <section>
        <form action="/admin/add" method="post">
            <lable for="name">Project Name</lable><br/>
            <input type="text" id="name" name="title" placeholder="Project Name" required>
            <lable for="name">Project Short Info</lable><br/>
            <input type="text" id="name" name="short" placeholder="Short Info" required>
            <lable for="name">Project Long Info</lable><br/>
            <input type="text" id="name" name="long" placeholder="Long Info" required>
            <lable for="name">Project Link</lable><br/>
            <input type="url" id="name" name="link" placeholder="Project Link" required>
            <button type="submit">Reset</button>
            <button type="submit">Save</button>
        </form>
    </section> 
</body>
</html>
