<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/header.ejs") %> 
<body>
    <%-include("./partials/nav.ejs") %>
    <section>
        <form action="" method="post">
            <lable for="username">User Name</lable><br />
            <input type="text" name="username" placeholder="kullanici adi" required>
            <lable for="password"> Password</lable><br />
            <input type="passwor" name="password" placeholder="parola" required>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </section> 
</body>
</html>
