<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/header.ejs") %> 
<body>
    <%-include("./partials/nav.ejs") %>
    <section>
        <form action="" method="post">
            <lable for="username">User Name</lable><br/>
            <input type="text" name="username" placeholder="username" required>
            <lable for="password">Password</lable><br/>
            <input type="password" name="password" placeholder="password" required>
            <button type="reset">Reset</button>
            <button type="submit">Signup</button>
        </form>
    </section> 
</body>
</html>
